<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestConnectOPCUA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestConnectOPCUA.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>184.168.47.17</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PLCPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PLCIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Rack" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Slot" serializeAs="String">
                <value />
            </setting>
            <setting name="StationName" serializeAs="String">
                <value />
            </setting>
            <setting name="Client" serializeAs="String">
                <value />
            </setting>
            <setting name="kpgConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DBIntergratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KepwareServer" serializeAs="String">
                <value />
            </setting>
        </TestConnectOPCUA.Properties.Settings>
    </userSettings>
</configuration>